nel-status-badge {
  --bg-color: #ffffff;
  --fg-color: #000099;
  --height: 7.5rem;
  --width: 7.55rem
}

progress { margin-left: 10px }

#lblTime { margin-left: 10px }

#notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}