#pnlAddTemplate {
  max-width: 500px;
  min-width: 420px;
  width: 100%
}

h2 { margin-bottom: 30px }

.action { cursor: pointer }

.grow {
  flex-grow: 1;
  justify-content: flex-end
}

.wide { width: 100% }